body {
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  width: 50vw;
  min-height: calc(100vh - 100px);
}

img {
  width: 200px;
}

hr {
  width: 40%;
}

section {
  width: 70%;
  margin: 0 auto;
}

ul {
  list-style-position: inside;
}
