body {
  background-color: #f4f4f4;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* STYLE BOXES */
.color-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 10%;
  box-shadow: 10px 5px 10px black;
}

/* STYLE COLORS INDIVIDUALLY */

.color1 {
  background-color: #000051;
}

.color2 {
  background-color: rgb(255, 0, 177);
}

.color3 {
  background-color: green;
}

.color4 {
  background-color: hsl(22, 100%, 57%);
}

.color5 {
  background: radial-gradient(circle, red, blue);
}
