body {
  background: rgb(197, 187, 187);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.blog-post-card {
  width: 350px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.post-img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
}

.post-content {
  padding: 20px;
}

.post-title {
  color: #333;
  margin: 10px 0;
}

.post-excerpt {
  color: #555;
  margin: 10px 0 20px 0;
}

.read-more {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #282424;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background 0.3s;
}

.read-more:hover {
  background-color: grey;
}
